@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: papayawhip;
}
.display {
    display: flex;
}
.arregloProductos{
    background-size: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
}
.margen {
    background-size: cover;
    margin-left: 140px;
    /* background-color: aqua; */
}

.listado {
    height: 681px;
    background-color: whitesmoke;
    position: fixed;
}
.panel {
    align-items: center;
}

.productosFiltrados {
    margin-top: -126.7rem;
    margin-left: 12px;
}
.dropLateralVarTec {
    position : absolute;
    top: 0.2rem;
    left: 9rem;
    width: 220px;
    padding: 12px 0px 12px 22px;
    background-color: azure;
    border: 1px solid gray;
}
.dropLateralVarHom {
    position : absolute;
    top: 2.5rem;
    left: 9rem;
    width: 220px;
    padding: 12px 0px 12px 22px;
    background-color: azure;
    border: 1px solid gray;
}
.dropLateralVarModa {
    position : absolute;
    top: 5rem;
    left: 9rem;
    width: 220px;
    padding: 12px 0px 12px 22px;
    background-color: azure;
    border: 1px solid gray;
}
.dropLateralVarElec {
    position : absolute;
    top: 7rem;
    left: 9rem;
    width: 220px;
    padding: 12px 0px 12px 22px;
    background-color: azure;
    border: 1px solid gray;
}
.dropLateralVarAutos {
    position : absolute;
    top: 10rem;
    left: 9rem;
    width: 220px;
    padding: 12px 0px 12px 22px;
    background-color: azure;
    border: 1px solid gray;
}
.dropLateralVarBelleza {
    position : absolute;
    top: 12rem;
    left: 9rem;
    width: 220px;
    padding: 12px 0px 12px 22px;
    background-color: azure;
    border: 1px solid gray;
}